@import './progressbar.min.css';

:root{
    --primary-color: orange;
}

*{
    box-sizing: 0;
}

body{
    margin: 0;
    padding: 0;
}

.header-menu{
    display: flex;
    column-gap: 20px;
    background-color: #222;
    list-style: none;
    padding: 15px;
    margin-top: 0px;
}

.header-menu a{
    text-decoration: none;
    color: #fff;
}

.header-menu a:hover, .header-menu a.active{
    color: var(--primary-color);
}

#content{
    padding: 20px;
}
